
#btn1 {
    font-weight: bold;
    color: azure;
    border: solid 8px red;
    border-radius: 10px;
    background-color: crimson;
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.316) ;
}

#btn1:active {
    box-shadow: -3px -3px black;
}
#btn2 {
    font-weight: bold;
    border: solid 8px rgb(23, 224, 57);
    border-radius: 10px;
    background-color: rgb(20, 220, 57);
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.281) ;
    transition: 0.2s;
}

#btn2:active {
    box-shadow: -3px -3px black;
}

.colors {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-bottom: 3rem;

}

.cl1{
    background-color: rgb(255, 0, 0);
    width: 100%;
}
.cl2{
    background-color: rgb(0, 255, 68);
    width: 100%;
}
.cl3{
    background-color: rgb(13, 0, 255);
    width: 100%;
}
