
button {
    display: inline-flex;
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    justify-content: space-between;
}
#btn1 {
    background-color: #ff0101;
}
#btn2 {
    background-color: #14dc39;
}
#btn3 {
    background-color: #340cff;
}
#btn4 {
    background-color: #def60a;
}
#btn5 {
    background-color: #ff0cc6;
}
#rst {
    background-color: grey;
}
button:active {
    box-shadow: -3px -1px rgba(0, 0, 0, 0.445);
}
.colors {
    display: flex;
    height: 150px;
    justify-content: center;
    margin-bottom: 3rem;

}

.cl1{
    background-color: rgb(255, 0, 0);
    width: 100%;
    transition: 0.3s;
}
.cl2{
    background-color: rgb(0, 255, 68);
    width: 100%;
    transition: 0.3s;
}
.cl3{
    background-color: rgb(13, 0, 255);
    width: 100%;
    transition: 0.3s;
}
.cl4{
    background-color: rgb(255, 230, 0);
    width: 100%;
    transition: 0.3s;
}
.cl5{
    background-color: rgb(255, 0, 208);
    width: 100%;
    transition: 0.3s;
}

